# Virtual Environment
/.venv

# Python build artifacts
__pycache__
*.py{c,o}

# Installation
.*_cache/
dist/
build/
*.egg-info/

# Input files
/.cache
*.txt

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.idea/
.vscode/
*.swp
