# Byte Compiled Files
__pycache__
*.py[codz]

# Distribution
.*_cache/
dist/
build/
*.egg-info/

# Virtual Environment
.venv/
venv/

# Input files
/.cache
*.txt

# Build Files
main

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.idea/
.vscode/
*.sw[op]
