# Python requirements file.
# 
# This is for any non-standard package used in the entire project.
# You can use a virtualenv to install these packages.
#
# python3 -m venv .venv
# source .venv/bin/activate
# pip install -r requirements.txt

grip == 4.6.2
